In [1]:
import pandas as pd
city_bike = pd.read_csv('data/citibike-tripdata.csv')
city_bike.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [2]:
city_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [8]:
most_common = city_bike['start station name'].value_counts().nlargest(1).index
print(city_bike[city_bike['start station name'] == most_common[0]])

                       starttime                  stoptime  start station id  \
53      2018-09-01 00:04:20.9200  2018-09-01 00:11:21.6180             281.0
335     2018-09-01 00:23:01.5780  2018-09-01 00:26:37.7410             281.0
337     2018-09-01 00:23:06.1950  2018-09-01 00:26:44.9580             281.0
343     2018-09-01 00:23:22.2670  2018-09-01 00:53:12.0060             281.0
344     2018-09-01 00:23:22.5210  2018-09-01 00:45:54.7790             281.0
...                          ...                       ...               ...
295661  2018-09-05 18:32:57.9350  2018-09-05 18:38:11.7120             281.0
295803  2018-09-05 18:34:12.2050  2018-09-05 18:43:13.6440             281.0
296103  2018-09-05 18:36:27.6770  2018-09-05 18:57:03.9670             281.0
296612  2018-09-05 18:40:27.7420  2018-09-05 19:22:44.5400             281.0
297453  2018-09-05 18:47:06.0460  2018-09-05 19:06:33.6500             281.0

                       start station name  start station latitude  \
53      Grand Army Plaza & Central Park S               40.764397
335     Grand Army Plaza & Central Park S               40.764397
337     Grand Army Plaza & Central Park S               40.764397
343     Grand Army Plaza & Central Park S               40.764397
344     Grand Army Plaza & Central Park S               40.764397
...                                   ...                     ...
295661  Grand Army Plaza & Central Park S               40.764397
295803  Grand Army Plaza & Central Park S               40.764397
296103  Grand Army Plaza & Central Park S               40.764397
296612  Grand Army Plaza & Central Park S               40.764397
297453  Grand Army Plaza & Central Park S               40.764397

        start station longitude  end station id         end station name  \
53                   -73.973715           469.0       Broadway & W 53 St
335                  -73.973715          2006.0   Central Park S & 6 Ave
337                  -73.973715          2006.0   Central Park S & 6 Ave
343                  -73.973715          3628.0     Lenox Ave & W 117 St
344                  -73.973715          2006.0   Central Park S & 6 Ave
...                         ...             ...                      ...
295661               -73.973715           305.0          E 58 St & 3 Ave
295803               -73.973715          3167.0  Amsterdam Ave & W 73 St
296103               -73.973715           368.0       Carmine St & 6 Ave
296612               -73.973715          3236.0       W 42 St & Dyer Ave
297453               -73.973715           480.0         W 53 St & 10 Ave

        end station latitude  end station longitude  bikeid    usertype  \
53                 40.763441             -73.982681   24824  Subscriber
335                40.765909             -73.976342   27828    Customer
337                40.765909             -73.976342   25112  Subscriber
343                40.802557             -73.949078   25876    Customer
344                40.765909             -73.976342   24823    Customer
...                      ...                    ...     ...         ...
295661             40.760958             -73.967245   18179  Subscriber
295803             40.779668             -73.980930   18083  Subscriber
296103             40.730386             -74.002150   17956  Subscriber
296612             40.758985             -73.993800   20569  Subscriber
297453             40.766697             -73.990617   29799  Subscriber

        birth year  gender
53            1955       2
335           1998       1
337           1999       1
343           1999       2
344           1989       1
...            ...     ...
295661        1994       1
295803        1991       1
296103        1966       1
296612        1964       1
297453        1990       1

[1928 rows x 14 columns]

In [9]:
print(city_bike['bikeid'].value_counts().nlargest(1).index)

Index([33887], dtype='int64', name='bikeid')

In [14]:
print(round(city_bike['usertype'].value_counts().max() / 300000, 2))

0.77

In [15]:
print(city_bike['gender'].value_counts())

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [16]:
print(f"start = {city_bike['start station id'].nunique()}, end = {city_bike['end station id'].nunique()} ")

start = 759, end = 765

In [17]:
print(city_bike['birth year'].max())

2002

In [18]:
print(city_bike['start station name'].value_counts().nsmallest(1).index)

Index(['Eastern Pkwy & Washington Ave'], dtype='object', name='start station name')

In [19]:
print(city_bike['end station name'].value_counts().nlargest(1).index)

Index(['West St & Chambers St'], dtype='object', name='end station name')

In [21]:
city_bike = city_bike.drop(['start station id', 'end station id'], axis = 1)
city_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [23]:
age = 2018 - city_bike['birth year']
city_bike['age'] = age
city_bike = city_bike.drop(['birth year'], axis = 1)
display(city_bike)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52

In [26]:
print(city_bike[city_bike['age'] > 60]['age'].value_counts().sum())

11837

In [27]:
city_bike['starttime'] = pd.to_datetime(city_bike['starttime'])
city_bike['stoptime'] = pd.to_datetime(city_bike['stoptime'])
city_bike['delta'] = city_bike['stoptime'] - city_bike['starttime']
display(city_bike)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,delta
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000

In [38]:
weekday = city_bike['starttime'].dt.day_of_week
mask = (weekday == 5) | (weekday == 6)
city_bike['weekend'] = mask.apply(lambda x: 1 if x else 0)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,delta,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000,1
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000,1
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000,0
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000,0
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000,0
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000,0
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000,0

In [39]:
print(city_bike[city_bike['weekend'] == 1]['weekend'].value_counts())

weekend
1    115135
Name: count, dtype: int64

In [40]:
print(city_bike['starttime'].dt.hour)

0          0
1          0
2          0
3          0
4          0
          ..
299995    19
299996    19
299997    19
299998    19
299999    19
Name: starttime, Length: 300000, dtype: int32

In [42]:
def obtain_time_of_day(date_trip):
    an_hour = date_trip.hour
    if an_hour in [0, 1, 2, 3, 4, 5, 6]:
        return 'night'
    elif an_hour in [7, 8, 9, 10, 11, 12]:
        return 'morning'
    elif an_hour in [13, 14, 15, 16, 17, 18]:
        return 'day'
    elif an_hour in [19, 20, 21, 22, 23]:
        return 'evening'
    else:
        return ''
    
city_bike['time of day'] = city_bike['starttime'].apply(obtain_time_of_day)
display(city_bike)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,delta,weekend,time of day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000,1,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000,1,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000,1,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000,1,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000,1,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000,0,evening
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000,0,evening
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000,0,evening
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000,0,evening
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000,0,evening

In [47]:
day_trip = city_bike[city_bike['time of day'] == 'day']['age'].count()
night_trip = city_bike[city_bike['time of day'] == 'night']['age'].count()
print(round(day_trip / night_trip, 0))

9.0